@model IEnumerable<appointment_system_Api.Model.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumEmpleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumEmpleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
